body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    padding: 0;
    border-radius: 5px;
    border: 2px solid black;
}

button:hover {
    cursor: pointer;
}

.button {
    background-color: aqua;
    height: 60px;
    width: 65px;   
}

.col {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;    
    height: 135px;
    width: 65px;
}

#button-container {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-between;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 375px;
    background-color: grey;
    border-radius: 15px;
    border: 2px solid black;
}

#screen {
    width: 90%;
    height: 20%;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
}