body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    border: none;
    padding: 0;
    border-radius: 5px;
    border: 2px solid black;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%)
}

.button {
    background-color: aqua;
    height: 60px;
    width: 65px;   
}

.button-label {
    font-size: 18px;
}

.col {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.equals {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;    
    height: 135px;
    width: 65px;
}

#button-container {
    display: flex;
    width: 90%;
    height: 70%;
    justify-content: space-between;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 375px;
    background-color: grey;
    border-radius: 15px;
    border: 2px solid black;
}

.input {
    display: flex;
    justify-content: end;
    flex: 1;
    padding-right: 15px;
    font-size: 28px;
}

.save-eq {
    display: flex;
    flex: 1;
    justify-content: end;
    padding-right: 15px;
    font-size: 20px;
    margin-top: 5px;
}

#screen {
    width: 90%;
    height: 20%;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

#screen > span {
    color: lightgreen;
}
